

<div class="row">
  <div class="col-md-12 col-lg-3 col-xxxl-3">
    <nb-card>
      <nb-card-header>Users</nb-card-header>
      <nb-card-body>
        <nb-select placeholder="Select User" [(selected)]="selectedUsername" (selectedChange)="onUserSelected($event)">
          <nb-option value="all">All</nb-option>
          <nb-option *ngFor="let user of uniqueUsernames" [value]="user">{{ user }}</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-3 col-xxxl-3">
    <nb-card>
      <nb-card-header>Date</nb-card-header>
      <nb-card-body>
        <nb-select placeholder="Select Date" [(selected)]="selectedDate" (selectedChange)="onDateSelected($event)">
          <nb-option *ngFor="let date of userEventDates" [value]="date">{{date}}</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="" *ngFor="let screenLabel of screenLabels">
    <ng-container *ngIf="selectedDate">
    <div class="">
      <nb-card class="list-card" *ngIf="getScreenData(screenLabel, selectedDate, selectedUsername).length > 0">
        <nb-card-header>{{ screenLabel.toUpperCase() }} Data</nb-card-header>
        <nb-card-body>
          <nb-list *ngFor="let data of getScreenData(screenLabel, selectedDate, selectedUsername)">
            <nb-list-item *ngFor="let item of data | keyvalue">
              {{ item.key }}: {{ item.value }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>

    <div *ngIf="getScreenData(screenLabel, selectedDate, selectedUsername).length === 0">
      No data available for {{ screenLabel.toUpperCase() }} on {{ selectedDate }}.
    </div>

  </ng-container>
</div>

</div>


<!-- charts -->
<div class="row chart">
<div class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card class="high-chart" size="large">
  <div *ngIf="selectedUsername === 'all'; else allUsersContent">
    <div id="container" style="width: 100%; height: 400px;"></div> 
  </div>

  <ng-template #allUsersContent>
    <div id="container" style="width: 100%; height: 400px;"></div> 
  </ng-template>
</nb-card>
</div>
</div>

